.hanger{
    position: relative;
}

.noose{
    width: 10px;
    height: 50px;
    background-color: var(--color-shade);
    position: absolute;
    top: 0;
    right: 0;
}

.top-bar{
    margin-left: 110px;
    width: 120px;
    height: 10px;
    background-color: var(--color-shade);
}

.middle-pole{
    margin: auto;
    width: 10px;
    height: 300px;
    background-color: var(--color-shade);
}

.bottom-bar{
    margin: auto;
    width: 200px;
    height: 10px;
    background-color: var(--color-shade);
}

.head{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 6px solid var(--color-text);
    position: absolute;
    top: 50px;
    right: -16px;
}

.body{
    width: 6px;
    height: 90px;
    background-color: var(--color-text);
    position: absolute;
    top: 90px;
    right: 0;
}

.right-arm{
    width: 90px;
    height: 6px;
    background-color: var(--color-text);
    position: absolute;
    top: 120px;
    right: -90px;
    rotate:  -30deg;
    transform-origin: left bottom;
}

.left-arm{
    width: 90px;
    height: 6px;
    background-color: var(--color-text);
    position: absolute;
    top: 120px;
    right: 5px;
    rotate:  30deg;
    transform-origin: right bottom;
}

.right-leg{
    width: 90px;
    height: 6px;
    background-color: var(--color-text);
    position: absolute;
    top: 172px;
    right: -85px;
    rotate:  60deg;
    transform-origin: left bottom;
}

.left-leg{
    width: 90px;
    height: 6px;
    background-color: var(--color-text);
    position: absolute;
    top: 172px;
    right: 0;
    rotate:  -60deg;
    transform-origin: right bottom;
}