.hangman-word{
    display: flex;
    gap: .15em;
    font-family: var(--font-text);
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
}

.letter{
    width: 1em;
    height: 1.6em;
    text-align: center;
    border-bottom: 0.1em solid var(--color-shade);
    display: block;
}

.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}

.won{
    color: var(--color-shade);
}

.lost{
    color: red;
}
